<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" UpgradeCode="414c7e1d-08b2-4d9e-94b2-cee4e0b3910a" Version="1.0.0.0" Language="1033" Name="MobSwitcher" Manufacturer="enorfelt">
    <Package InstallerVersion="300" Compressed="yes"/>
    <Media Id="1" Cabinet="MobSwitcher.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="MobSwitcher"/>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MobSwitcher"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="mob.exe" Guid="a43570d7-f427-457c-8537-f3864395652d">
        <File Id="mob.exe" Source="mob.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>

    <Icon Id="MobSwitcher.ico" SourceFile="MobSwitcher.ico" />
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="501d0a8a-db77-4878-b5a7-e379756d394c">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="MobSwitcher" Description="Shortcut that enables Toast Notifications" Target="[#mob.exe]" WorkingDirectory="APPLICATIONROOTDIRECTORY" Icon="MobSwitcher.ico">
          <ShortcutProperty Key="System.AppUserModel.ID" Value="{fb4831aa-8a45-4828-ba0e-b840bcfb395a}!MobSwitcher" />
          <ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{f002bd1b-2050-4cba-8ff8-0e21338dc8ac}"></ShortcutProperty>
        </Shortcut>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>

        <RegistryValue Root="HKCU" Key="Software\Microsoft\MobSwitcher" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="mob.exe" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Product>
</Wix>